IndentCaseLabels: true
BasedOnStyle: Google
IndentWidth: 4
Standard: Auto
PointerBindsToType: false
Language: Cpp
SpacesBeforeTrailingComments: 2
AccessModifierOffset: -1
AlignEscapedNewlinesLeft: true
AlwaysBreakAfterDefinitionReturnType: false
AlwaysBreakBeforeMultilineStrings: false
BreakConstructorInitializersBeforeComma: true
# BreakBeforeBraces: Linux
BreakBeforeBraces: Custom
AccessModifierOffset: -4
ConstructorInitializerAllOnOneLineOrOnePerLine: false
AllowShortFunctionsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
DerivePointerBinding: false
BraceWrapping: {
    AfterNamespace: 'false'
    AfterClass: 'true'
    BeforeElse: 'false'
    AfterControlStatement: 'false'
    AfterFunction: 'true'
    BeforeCatch: 'false'
}
ColumnLimit: 100
FixNamespaceComments: true