Checks: '-*,
    clang-diagnostic-*,
    llvm-*,
    misc-*,
    -misc-unused-parameters,
    readability-identifier-naming,
    -llvm-header-guard,
    modernize-*,
    readability-*,
    performance-*,
    misc-*,
    bugprone-*,
    cert-*,
    cppcoreguidelines-*,
    -cppcoreguidelines-pro-type-cstyle-cast,
    -cppcoreguidelines-pro-bounds-pointer-arithmetic,
    -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
    -cppcoreguidelines-pro-type-member-init,
    -cppcoreguidelines-owning-memory,
    -cppcoreguidelines-avoid-magic-numbers,
    -readability-magic-numbers,
    -performance-noexcept-move-constructor,
    -misc-non-private-member-variables-in-classes,
    -cppcoreguidelines-non-private-member-variables-in-classes,
    -modernize-use-nodiscard,
    -modernize-use-trailing-return-type,
    -readability-identifier-length,
    -readability-function-cognitive-complexity,
    -bugprone-easily-swappable-parameters,
    '
CheckOptions:
  - key:             readability-identifier-naming.ClassCase
    value:           CamelCase
  - key:             readability-identifier-naming.EnumCase
    value:           CamelCase
  - key:             readability-identifier-naming.FunctionCase
    value:           camelBack
  - key:             readability-identifier-naming.MemberCase
    value:           camelBack
  - key:             readability-identifier-naming.PrivateMemberSuffix
    value:           _
  - key:             readability-identifier-naming.UnionCase
    value:           CamelCase
  - key:             readability-identifier-naming.GlobalVariableCase
    value:           UPPER_CASE
  - key:             readability-identifier-naming.VariableCase
    value:           camelBack
