[submodule "lib/libcommuni"]
	path = lib/libcommuni
	url = https://github.com/hemirt/libcommuni
[submodule "lib/humanize"]
	path = lib/humanize
	url = https://github.com/pajlada/humanize.git
[submodule "lib/websocketpp"]
	path = lib/websocketpp
	url = https://github.com/zaphoyd/websocketpp.git
	branch = develop
[submodule "lib/qBreakpad"]
	path = lib/qBreakpad
	url = https://github.com/jiakuan/qBreakpad.git
[submodule "lib/WinToast"]
	path = lib/WinToast
	url = https://github.com/mohabouje/WinToast.git
[submodule "lib/settings"]
	path = lib/settings
	url = https://github.com/pajlada/settings
[submodule "lib/signals"]
	path = lib/signals
	url = https://github.com/pajlada/signals
[submodule "lib/serialize"]
	path = lib/serialize
	url = https://github.com/pajlada/serialize
[submodule "lib/rapidjson"]
	path = lib/rapidjson
	url = https://github.com/Tencent/rapidjson
