---
name: Check formatting

on:
  push:
    branches:
      - chatterino7
  pull_request:

jobs:
  check:
    runs-on: ubuntu-20.04

    steps:
      - uses: actions/checkout@v2.4.0

      - name: apt-get update
        run: sudo apt-get update

      - name: Install clang-format
        run: sudo apt-get -y install clang-format dos2unix

      - name: Check formatting
        run: ./tools/check-format.sh

      - name: Check line-endings
        run: ./tools/check-line-endings.sh
