name: Check formatting

on:
  push:
    paths-ignore:
      - 'docs/**'
      - '*.md'
  pull_request:

jobs:
  build:
    runs-on: ubuntu-20.04

    steps:
    - uses: actions/checkout@v2.3.3
    - name: apt-get update
      run: sudo apt-get update

    - name: Install clang-format
      run: sudo apt-get -y install clang-format dos2unix

    - name: Check formatting
      run: ./tools/check-format.sh

    - name: Check line-endings
      run: ./tools/check-line-endings.sh
