name: Check formatting

on:
  push:
    paths-ignore:
      - 'docs/**'
      - '*.md'
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: ubuntu:19.10

    steps:
    - uses: actions/checkout@v2.3.3
    - name: apt-get update
      run: apt-get update

    - name: Install clang-format
      run: apt-get -y install clang-format

    - name: Check formatting
      run: ./tools/check-format.sh
