name: "Publish Homebrew Cask on Release"
on:
  push:
    tags:
      # Should match semver for mainline releases (not including -beta)
      - "v2.[0-9]+.[0-9]+"
      # TODO: handle beta and nightly releases
      # Need to make those casks manually first
      # - v2.[0-9]+.[0-9]+-beta(?:[0-9]+)

env:
  # This gets updated later on in the run by a bash script to strip the prefix
  C2_CASK_NAME: chatterino
  # The full version of Chatterino (e.g. v2.4.1)
  C2_TAGGED_VERSION: ${{ github.ref_name }}
  HOMEBREW_GITHUB_API_TOKEN: ${{ secrets.HOMEBREW_GITHUB_API_TOKEN }}

jobs:
  update_stable_homebrew_cask:
    name: "Update the stable homebrew cask"
    runs-on: "macos-latest"
    steps:
      # Pulls out the version from the ref (e.g. refs/tags/v2.3.1 -> 2.3.1)
      - name: Execute brew bump-cask-pr with version
        run: |
          echo "Running bump-cask-pr for cask '$C2_CASK_NAME' and version '$C2_TAGGED_VERSION'"
          C2_TAGGED_VERSION_STRIPPED="${C2_TAGGED_VERSION:1}"
          echo "Stripped version: '$C2_TAGGED_VERSION_STRIPPED'"
          brew developer on
          brew bump-cask-pr --version "$C2_TAGGED_VERSION_STRIPPED" "$C2_CASK_NAME"
