---
name: Lint

on:
  push:
    branches:
      - master
  pull_request:
  merge_group:

concurrency:
  group: lint-${{ github.ref }}
  cancel-in-progress: true

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6

      - name: Check formatting with Prettier
        run: |
          npx prettier@3.8.1 --write .
      - name: Show diff
        run: git --no-pager diff --exit-code --color=never
        shell: bash
      - name: Check Theme files
        run: |
          npm i ajv-cli
          npx -- ajv validate -s docs/ChatterinoTheme.schema.json -d "resources/themes/*.json"
