---
name: Build on Arch Linux

on:
  push:
    branches:
      - chatterino7
  pull_request:

concurrency: 
  group: build-archlinux-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Sync AUR package with current version
        uses: pajlada/aur-sync-action@master
        with:
          package_name: chatterino2-git
          commit_username: chatterino2-ci
          commit_email: chatterino2-ci@pajlada.com
          ssh_private_key: ${{ secrets.AUR_SSH_PRIVATE_KEY }}
          dry_run: true
